*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(./BG.jpg);
    background-size: cover;

}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 10px;
}

.nav__logo{
    display: flex;
    align-items: center;
}

.nav__search{
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

.nav__logo-title{
    font-size: 25px;
}

.store{
    font-weight: 200;
}

.nav__logo-img{
    width: 80px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.header__section{
    width: 90%;
    height: 250px;
    background-image: url(./ratchet.jpg);
    background-size: 110% 110%;
    background-position: center;
    background-color: #000;
    border: 2px solid #dddddd;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    margin: 20px 0;
    max-width: 400px;
}

.section__div1-subtitle{
    font-size: 25px;
}

.section__div1{
    margin-bottom: 10px;
}

.section__div2{
    display: flex;
    font-weight: 700;
    font-size: 14px;
}

.precio1{
    padding: 10px 10px;
    border-radius: 10px 0 0 10px;
    background: rgb(60, 223, 60);
}

.precio2{
    padding: 10px 10px;
    border-radius: 0 10px 10px 0;
    background: #262626dd;
}

.diesiocho{
    font-weight: 200;
    padding: 0 5px 0 0;
}

.header__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon__container{
    display: flex;
    gap: 15px;
}

.ps5{
    width: 50px;
}

.win10{
    width: 20px;
}

.nav2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;
    transition: .5s;
}

.buttom{
    border-radius: 12px;
    padding: 15px 18px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: #ccc;
    transition: .5s;
}

.buttom:hover{
    background: linear-gradient(-45deg, rgb(232, 20, 193), rgb(8, 194, 214));
    color: #fff;
}

.main{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 280px 280px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin: 30px 0;
}

.image{
    background: #000;
    background-position: center;
    border-radius: 10px;
    border: 1px solid #ffffff;
    max-width: 300px;
    min-width: 160px;
    height: 280px;
}

.main__image1{
    background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202008/1020/T45iRN1bhiWcJUzST6UFGBvO.png);
    background-size: 120% 100%;
}

.main__image2{
    background: #000;
    background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202008/1318/8XGEPtD1xoasK0FYkYNcCn1z.png);
    background-size: 150% 100%;
    background-position: center;
}

.main__image3{
    background: #000;
    background-image: url(https://media.vandal.net/m/86516/ghostwire-tokyo-202232513515986_1.jpg);
    background-size: 110% 100%;
    background-position: center;
}

.main__image4{
    background: #000;
    background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202102/2307/kQzDCY5RCrSXCeeFjPGUzkGI.png);
    background-size: 130% 100%;
    background-position: center;
}

.menu{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0;
    width: 100%;
    height: 70px;
}

.menu__icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 96%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 30px 30px;
    /* border: 2px solid #00000011; */
    backdrop-filter: blur(5px);
}

.categoria{
    background: linear-gradient(-45deg, rgb(232, 20, 193), rgb(8, 194, 214));
    border-radius: 20px;
    padding: 10px;
}

@media (min-width:700px){
    .main{
        display: grid;
        grid-template-columns: max-content max-content max-content;
        grid-template-rows: 280px;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        row-gap: 20px;
        margin: 30px 0;
    }
    .image{
        min-width: 200px;
        height: 300px;
    }
    .header__section{
        max-width: 600px;
        height: 400px;
    }
    .buttom{
        border-radius: 20px;
        padding: 17px 25px;
        font-weight: 500;
        font-size: 17px;
        transition: .5s;
    }
}

@media (min-width:1020px){
    .main{
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;
        grid-template-rows: 280px;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        row-gap: 20px;
        margin: 30px 0;
    }
    .menu{
        display: none;
    }
    .header__section{
        max-width: 800px;
        height: 500px;
    }
    .buttom{
        border-radius: 20px;
        padding: 17px 25px;
        font-weight: 500;
        font-size: 20px;
        transition: .5s;
    }
    
}